:root {
  --background: oklch(97.33% 0.007 166.02);
  --background-alternate: oklch(6% 0.007 166.02);
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background);
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

.flow>*+* {
  --flow-spacer: 1em;
  margin-top: var(--flow-spacer, 1em);
}

.question__form {
  width: clamp(20rem, 80%, 80ch);
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-alternate);
}

.question__list {
  --flow-spacer: 2em;
  background-color: var(--background-alternate);
  max-width: 100%;
}

.question__box {
  background-color: var(--background);
  display: grid;
  padding: 3rem;
  margin-inline: 1rem;
  grid-template-areas:
    "nm nm"
    "q1 q2";
  justify-items: center;
  --flow-spacer: inherit;
  border: 3px solid black;

  div:hover,
  div:has(input:checked) {
    font-weight: 500
  }
}

@media (width <= 475px) {
  .question__box {
    width: max(10rem, 80%);
    margin: var(--flow-spacer) auto;
    padding: 1rem;
  }  
}

.question__title {
  grid-area: nm;
  max-width: 30ch;
  text-align: center;
}

.question__submit {
  width: 10rem;
  border: none;
  padding: 0.5rem;
  border-radius: 1rem;

  margin-block: 1rem;
}

